ANTHROPIC_API_KEY=
ANTHROPIC_BASE_URL=https://api.anthropic.com
OPENAI_API_KEY=
QDRANT_URL=http://localhost:6333
QDRANT_HOST=9ca91fff-6b1d-4be3-b3ec-2a2668f6a19e.us-east-1-1.aws.cloud.qdrant.io
QDRANT_PORT=6333
QDRANT_API_KEY=
QDRANT_USE_HTTPS=true
COHERE_API_KEY=